.contacts {
  @include mq("tablet-wide") {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;
  }
}

.contacts-list {
  list-style: none;
  @include mq("tablet-wide") {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    position: relative;
    @include mq("tablet-wide") {
      margin-right: 32px;
      max-width: 185px;
    }
  }

  &__item--sub::after {
    display: block;
    width: 14px;
    height: 24px;
    background-image: url(../images/chevron-down.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    background-position: center;
    top: 0px;
    right: -18px;

    content: "";
  }

  &__item--sub:hover .contacts-list__submenu {
    display: block;
    position: absolute;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 99;
    left: 0;
    top: 100%;
    padding-left: 0;
    background-color: var(--bg-color);
  }

  &__link {
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-in-out;
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 1);
    }

    @include mq("tablet-wide") {
      display: inline-block;
    }
  }
}

.contacts-list__submenu {
  display: none;
  list-style: none;
  & .contacts-list__item {
    margin-top: 1em;
  }
}

.contacts-list__address::before,
.contacts-list__time::before,
.contacts-list__phone::before {
  @include mq("tablet-wide") {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/map-marker-alt.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
  }
}

.contacts-list__time::before {
  background-image: url(../images/clock.png);
}

.contacts-list__phone::before {
  @include mq("tablet-wide") {
    background-image: url(../images/phone-alt.png);
  }
}
