.logo {
  margin-right: 44px;
  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }
  &__img {
    display: block;
    width: 108px;
    min-height: 32px;
    @include mq("desktop") {
      width: 216px;
      height: 64px;
      margin-right: 48px;
    }
  }
}
