:root {
  box-sizing: border-box;
  font-size: 10px;
  --main-font: "Montserrat", sans-serif;
  --bg-color: #03204a;
  --accent-color: #d70000;
  --hover-color: #d70000b0;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1em;
  color: #fff;
  background-color: var(--bg-color);
}
